.form{
    margin: 0 auto;
    margin-top: 50px;
    width: 1336px;
    height: auto;
    padding:  100px 0 100px;
    background-color: #F3F5F7;
    border-radius: 20px;
}

.bg{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}