div{

    >button{
        width: 100%;
        border-radius: 8px;
        height: 48px;
        background: #667EEA;
        background: linear-gradient(50deg, rgba(102, 126, 234, 1) 0%, rgba(118, 75, 162, 1) 100%);
        color: white;
    }
}