.bg{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}


.bgImage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}

.grid{
    grid-column: span 2;
    margin-bottom: 8px;
    >p{


        >span{
        color: #737373;
        }
    }
}

.formBg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    background-color: #fff;
    border-radius: 16px;
    height: 800px;
    padding: 50px 32px 32px 22px;
}

.formContainer{
    max-width: 800px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.holder{
    margin-top: 20px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    >p{
        font-size: 14px;
    }
}

.subText{
    font-size: 14px;
    text-align: center;
}


.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;

  >p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {

    grid-template-columns: 1fr;
  }
}

.policy {
    display: block;

    color: #3b6ef5;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}