// features/GroupsList/GroupsList.module.scss
.container {
  width: 1200px;
  margin: 0 auto;

  padding: 40px 20px;
}

.header {
  margin-bottom: 32px;
}
.formBlock{
    background-color: #F3F5F7;
    padding: 20px 40px;
    border-radius: 16px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin: 0 0 16px;
}

.groupsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  gap: 20px;
}

.bg{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgImage{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}