.switcher {
  display: flex;
  width: 100%;
  background: #f6f8fc;
  border-radius: 12px;
  overflow: hidden;

  border: 1px solid #e0e5ec;

}

.tab {
  flex: 1;
  padding: 14px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #808080;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s ease;
  
  &:hover {
    background: #f0f2f7;
  }
}

.active {
  background: white;
  color: #5b5bff;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}
