.page {
  padding: 32px;
  background: #f6f8fc;
  min-height: 100vh;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.back {
  color: #3b82f6;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 24px;
}

.block {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.content {
  flex: 1;
}

.cardTitle {
  font-size: 16px;
  margin-bottom: 6px;
}

.meta {
  display: flex;
  gap: 12px;
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 16px;
}

.status {
  background: #dcfce7;
  color: #166534;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 16px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  &:nth-child(4) {
    opacity: 0;
    visibility: hidden;
  }
}

.label {
  font-size: 12px;
  color: #9ca3af;
  display: block;
  margin-bottom: 4px;
}



.avatar {
  width: 64px;
  height: 64px;
  background: #3b82f6;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}


// DialogsList.module.scss

.progress {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.track {
  flex: 1;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  min-width: 100px; // Добавляем минимальную ширину
}


.progressText {
  min-width: 40px;
  font-weight: 600;
  font-size: 14px;
  color: #1f2937;
}


