.cardBg{
    width: 1200px;
    margin: 0 auto; 
}

.form{
    background-color: #F3F5F7;
    padding: 20px 40px;
    border-radius: 16px;
}

.bg{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link{
    color: #3881F0;
}

.bgImage{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}
.formText{
    font-size: 64px;
    color: #1A202C;
    font-weight: 600;
}
.cardText{
    font-size: 40px;
    color: #1A202C;
}

.cardForm{
    padding: 20px 15px;
    background-color: #FFFFFF;
    border-radius: 12px;
}