.form{
    margin: 0 auto;
    width: 1834px;
    height: 885px;
    background-color: #fff;
    border-radius: 16px;
}

.button{
    width: 412px;
    border-radius: 28px;
    height: 61px;
    background: #5B8ED3;
    font-weight: 600;
    font-size: 22px;
}