.bgImg{
    z-index: -1;
}
.card{
    display: flex;

}

.rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 670px;
    height: 362px;
    background-color: #b7d0f7;
    border-radius: 16px 0 16px 0;
}


.blogAuthor{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    margin-top: 20px;
}

.wrapper{
    max-width: 550px;
    height: 250px;
    background-color: #fff;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name{
    font-size: 24px;
}

.teacher{
    font-size: 24px;
}
.group{
    padding-left: 20px;
    font-size: 24px;
    color: #3881F0;
}