.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logoLink {
  margin-left: 30px;
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.logo {
  height: 198px;
  width: auto;
  display: block;
}